.navbar-dark.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    border-bottom: 5px solid #ffffff;
}

nav {
    padding: 10px;
}

.diamond {
    transform: rotate(45deg);
    transform-origin: 0 100%;
  }

.fab{
    margin-left: 10px;
}

.fa-js{
    color: yellow;
}

.fa-html5{
    color: orangered;
}

.fa-css3-alt{
    color: blue;
}

.fa-node-js{
    color: green;
}

.fa-react{
    color: lightskyblue;
}

.fa-java{
    color: orange;
}

.fa-bootstrap{
    color: purple;
}

.fa-github{
    color: black;
}

.test{
    margin-top: -20px;
}

.home{
    position: absolute;
    top: 40%;
    left: 35%;
    color: white;
    font-family: 'Cinzel', serif;
}

.title{
    margin-top: 50px;
}

.view{
    margin-top: 100px;
}

.header{
    text-align: center;
    margin-top: 75px;
}

.card{
    width: 75%;
    display: flex;
    align-items: center;
}

.picture{
    margin-top: 50px;
    margin-left: 50px;
}

.picture-text{
    margin-top: 10px;
    margin-left: 50px;  
}

.hexagon{
    position: absolute;
    /* top: 50%;
    left: 50%; */
    transform: translate(-50%, -50%) rotate(120deg);
    width: 400px;
    height: 275px;
    background: transparent;
    /* border-radius: 50%; */
    overflow: hidden;
}

.hexagon-inner {
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
    transform: rotate(-60deg);
    overflow: hidden;
    background: transparent ;
}

.hexagon-inner-in {
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
    transform: rotate(-60deg);
    overflow: hidden;
    background: url(images/passionate-picture.jpeg);
    background-size: contain;
}

.hexagon{
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%) rotate(120deg);
    width: 400px;
    height: 275px;
    /* background: transparent; */
    /* border-radius: 50%; */
    /* overflow: hidden; */
}

.hexagon-inner {
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
    transform: rotate(-60deg);
    /* overflow: hidden; */
    /* background: transparent ; */
}

.hexagon-inner-in {
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
    transform: rotate(-60deg);
    /* overflow: hidden; */
    background: url(images/self-motivated-picture.jpeg);
    background-size: contain;
}