/* body { 
    background: url(https://images.unsplash.com/photo-1444080748397-f442aa95c3e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1190&q=80) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */



/* 
.secondimage { 
    background: url(https://images.unsplash.com/photo-1548438294-1ad5d5f4f063?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */


nav {
    padding: 10px;
}

.diamond {
    transform: rotate(45deg);
    transform-origin: 0 100%;
  }

.fab{
    margin-left: 10px;
}

.fa-js{
    color: yellow;
}

.fa-html5{
    color: orangered;
}

.fa-css3-alt{
    color: blue;
}

.fa-node-js{
    color: green;
}

.fa-react{
    color: lightskyblue;
}

.fa-java{
    color: orange;
}

.fa-bootstrap{
    color: purple;
}

.fa-github{
    color: black;
}

.test{
    margin-top: -20px;
}